body{
    display:flex;
    margin: 0;/*this is to remove the need for scrolling*/
    height: 100vh;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif ;
}

/*header*/

.header{
    display: flex;
    flex-direction: column;
    flex: 3 3 0;
    background-color:#1F2937;
    align-items: center;
    justify-items: center;
}
    
.wrapper{
    display: flex;
    flex-direction: column;
    width:80%;
    height: 80%;
    
}
.header .top{
    display:flex;
    justify-content: space-between;
    
}

.top .left{
    display: flex;
    align-self: flex-start;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding-top: 10px;
}

.top .right ul{ /*make sure to descend into the exact tag why?*/
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 0;
    color: #E5E7EB;
}

li{
    list-style-type:none;
}

a{/*note that these 2 attr can only be in a tag not li or ul*/
    color: aliceblue;
    text-decoration: none;
}

.header .bottom{
    display: flex;
    margin-bottom: 10px;
}

.header .bottom .left{
    display:flex;
    flex-direction: column;
    flex:1 1 0;
}

.bottom .left .big{
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    margin-top:10px;
    margin-bottom: 0;
    width: 400px;
    
}

.left .small{
    font-size:18px;
    color: #E5E7EB;
    margin-top: 5px;
    margin-bottom: 8px;
}

.left .top_button{
    background-color: #3882F6;
    width: 80px;
    border-radius: 5px;
    border-color: #3882F6;/*need because by default color is white*/
    color:aliceblue;
    font-weight: 700;
    
}

.header .bottom .right{
    display:flex;
    flex:1 1 0;
    margin-right: 0;
    justify-content:end;
    align-items: center;
}

.right img{
    background-color:rgba(128, 128, 128, 0.486);
    height: 150px;
    width:400px;
    color: #E5E7EB;
}
/*main content*/

.main_content{
    display: flex;
    flex-direction: column;
    flex: 3 3 0;
    align-items: center;
}

.main_content .top{
    font-size: 36px;
    font-weight: 800;
}
.main_content .bottom{
    display: flex;
    gap: 20px;
    padding-bottom: 60px;
}

.border_1, .border_2, .border_3, .border_4{
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #3882F6; /*need to set border style to solid, default is none*/
    height: 130px;
}

.first p{
    margin-top:16px;
}
/* main_quote */

.background{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex: 3 3 0;
    background-color: #E5E7EB;
} 

.main_quote{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin-bottom: 0;;
}

.quoter{
    font-weight: bold;
    display: flex;
    justify-content: end;
    
}

/* sign_up */
.sign_up{
    display:flex;
    flex: 3 3 0;
    justify-content: center;
    align-items: center;
}
.block{
    background-color:#3882F6;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    border-radius: 5px;
    padding:20px 30px;
    width:600px;
}

.text .top{
    font-size:large;
    font-weight: 700;
    margin-bottom: 2px;
}

.text .bottom{
    margin-top:2px;
}

.bottom_button{
    background-color: #3882F6;
    color: aliceblue;
    border-color: aliceblue;
    border-style: solid;
    border-radius: 5px;
    padding: 2px 20px;
}

/* footer */

.footer{
    display: flex;
    flex: 1 1 0;
    justify-content:center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}